.add-model-container {
  max-width: 90%;
  width: 700px;
  background-color: rgb(184, 184, 184);
  margin: 30px auto;
  padding: 30px;
}
.add-model-container .brand-dropdown {
  width: 100%;
}
.add-model-container input {
  width: 100%;
  margin: 16px 0px;
}
.add-model-container button {
  width: 100%;
  display: flex;
  justify-content: center;
}
.add-model-container h2 {
  margin-bottom: 0px;
}
.add-model-btn {
  width: 250px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}
.add-model-btn button {
  width: 120px !important;
  background-color: #fefefe;
  border: none;
  color: black;
  box-shadow: 0 5px 5px rgb(0,0,0,0.2);
}
.add-model-btn button:hover {
    background-color: #6e6e6e !important;
    color: black;
  }
