.detail-page-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 30px;
}
.detail-page-container .detail-box {
  width: 90%;
  max-width: 600px;
}
.detail-page-container .detail-box .seller-profile{
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}
.detail-page-container .detail-box .seller-profile button:disabled{
  opacity: 100% !important;
}
.detail-page-container .detail-box .seller-profile .seller-profile-detail{
  height: 50px;
  margin-left: 2%;
  display: flex;
  justify-content:space-between;
  align-items: center;
  width: 73%;
}
.detail-page-container .detail-box .seller-profile .seller-profile-detail #profile{
  width:150px;
  padding:8px 16px;
  display: flex;
  overflow: hidden;
  background-color: rgb(51, 51, 51);
  border: 1px solid #535353;
  box-shadow: 0 5px 5px rgb(0, 0, 0, 0.32);
}
.detail-page-container .detail-box .seller-profile .seller-profile-detail #profile:hover{
  background-color: rgb(31, 31, 31);
}

.detail-page-container .detail-box .seller-profile .seller-profile-detail #profile label{
  max-width: 70px;
  overflow: hidden;
  color: #FEFEFE;
  cursor: pointer;
  text-overflow: ellipsis; 

}
.detail-page-container .detail-box .seller-profile .seller-profile-detail a{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
  text-decoration: none;
  color: #FEFEFE;
}
.detail-page-container .detail-box .seller-profile .seller-profile-detail a i{
  font-size: 22px;
  z-index: 999;
  padding:0;
  margin:0;
  transition-duration: 0.3s;
}
.detail-page-container .detail-box .seller-profile .seller-profile-detail #ban{
  color: red;
  background-color: #FEFEFE;
  padding:8px;
  border-radius: 5px;
  cursor: pointer;
}
.detail-page-container .detail-box .seller-profile .seller-profile-detail #ban:hover{
  color: #fefefe;
  background-color: red;
}
.detail-page-container .detail-box .seller-profile .seller-profile-detail a i:hover{
  font-size:26px !important;
  transition-duration: 0.3s;

}

.detail-page-container .detail-box .seller-profile .seller-profile-detail #profile .profile-img-box{
  overflow: hidden;
  display: flex;
  height: 40px;
  width: 40px;
  border-radius: 25px;
  margin-right: 8px;
}
.detail-page-container .detail-box .seller-profile .seller-profile-detail #profile .profile-img-box img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-button-condition{
  display: flex;
  height: 30px;
  margin:8px 0;
}
.image-button-condition button{
  display: flex;
  height: 30px;
  justify-content: center;
  align-items: center;
  margin-right: 6px;
  border:1px solid #fefefe;
  background-color: rgb(65, 65, 65) !important;
  color:#fefefe;
}
.image-button-condition button:hover{
  background-color: rgb(65, 65, 65) !important;
  border: 1px solid #fefefe !important;
  color:#fefefe;
}
.detail-page-container .detail-box h3 {
  margin-bottom: 16px;
  font-size: 26px;
  text-transform: uppercase;
  width: fit-content;
}
.detail-page-container .card-images {
  width: fit-content;
  display: flex;
  justify-content: center;
  height: fit-content;
  background-color: rgba(255, 255, 255, 0.068);
  border-radius: 5px;
  box-shadow: 0 5px 10px rgb(0, 0, 0, 0.32);
}
.car-rec-container {
  display: flex;
  width: 100%;
  background-color: rgb(65, 65, 65);
  flex-direction: column;
}
.car-rec-container .car-rec-box {
  display: grid;
  height: auto;
  width: 100%;
  margin: 0px 0px 16px 0px;
}
.car-rec-container .car-rec-box a{
  text-decoration: none;
}

.car-rec-container .car-rec-box .car-rec-inside {
  padding: 8px;
  display: flex;
  box-shadow: 0 5px 5px rgb(0, 0, 0, 0.32);
  background-color: #b4b4b4;
  border-radius: 5px;
  margin: 8px;
  transition-duration: 0.3s;
  cursor: pointer;
}
.car-rec-container .car-rec-box .car-rec-inside .car-rec-text {
  width: 50%;
  padding: 0 8px;
  color: rgba(0, 0, 0, 0.726);
  display: flex;
  flex-direction: column;
  position: relative;
}
.car-rec-container .car-rec-box .car-rec-inside .car-rec-image-container {
  width: 50%;
}
.car-rec-container .car-rec-box .car-rec-inside .car-rec-image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
  height: 150px;
  box-shadow: 0px 5px 5px rgb(0, 0, 0, 0.32);
}
.notification-img{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
}
.notification-img img{
  width: 70%;
  object-fit: cover;
  box-shadow: 0 5px 5px rgb(0, 0, 0, 0.32);
  border-radius: 5px;
}
.contact-container{
  display: flex;
  flex-direction: column;
}
.contact-container .contact-box{
  display: flex;
  flex-direction: column;
}
.contact-container .contact-box input:disabled{
  opacity: 100%;
}
.contact-container .contact-box #desc:disabled{
  opacity: 100%;
}

.contact-container .contact-box .input-contact{
  display: flex;
  width: 100%;
  margin:8px 0;
}
.contact-container .contact-box .input-contact #contact-title{
  width: 30%;
}
.contact-container .contact-box .input-contact #contact-data{
  margin-left: 5%;
  width: 65%;
}
.contact-container .contact-box .input-contact{
}

.car-rec-container .car-rec-box .car-rec-inside #header{
  height: 80px;
  overflow: auto;
  font-weight: 600;
  /* box-shadow: 0px 8px 6px -6px rgb(0, 0, 0, 0.32); */
  /* background-color: rgb(51, 51, 51); */
  border-radius: 5px;
  /* color: #FEFEFE; */
  padding: 0 4px;
}
.car-rec-container .car-rec-box .car-rec-inside #header::-webkit-scrollbar{
  width:8px;
}
.car-rec-container .car-rec-box .car-rec-inside #header::-webkit-scrollbar-track{
  background-color: rgb(236, 236, 236);
  border-radius: 5px;
}
.car-rec-container .car-rec-box .car-rec-inside #header::-webkit-scrollbar-thumb {
  background-color: rgb(138, 138, 138);
  border-radius: 5px;
}
.car-rec-container #car-type{
  background-color: #FEFEFE;
  height: 40px;
  width: 120px;
  margin-left: 16px;
  color: #292929;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0 5px 5px rgb(0, 0, 0, 0.32);
}
.car-rec-container .car-rec-box .car-rec-inside #level{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  background-color: #FEFEFE;
  padding: 4px;
  left: 18px;
  bottom: 6px;
  border-radius: 10px 2px;
  box-shadow: 0px 5px 5px rgb(0, 0, 0, 0.32);
  color: black;
  font-weight: 600;
}
.car-rec-container .car-rec-box .car-rec-inside #data{
  position: absolute;
  right: 6px;
  bottom: 6px;
  color: #292929;  
  height: 32px;
  background-color: #FEFEFE;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  border-radius: 10px;
  box-shadow: 0px 5px 5px rgb(0, 0, 0, 0.32);
}
.car-rec-container .car-rec-box .car-rec-inside:hover {
    box-shadow: 0 10px 15px rgb(0, 0, 0, 0.32);
    transition-duration: 0.3s;
}
@media (max-width: 960px) {
  .car-rec-container .car-rec-box {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (max-width: 600px) {
  .car-rec-container .car-rec-box {
    grid-template-columns: repeat(1, 1fr);
  }
}




.detail-main-container{
  width: 90%;
  max-width: 1200px;
  margin: 30px auto;
  padding:16px;
  
}
.detail-main-container #price{
  background-color: rgb(80, 200, 120);
  width: 200px;
  display: flex;
  justify-content: center;
  padding: 8px;
  margin:8px auto;
  height: 60px;
  align-items: center;
  border-radius: 5px;
}
.detail-main-container .specific-detail-main{
  width: 100%;
  display: grid;
  grid-template-columns:  repeat(3, 1fr);
  
}
.detail-main-container .specific-detail-main  .specific-detail{
  margin: 0 8px 8px 0;
  background-color: #FEFEFE;
  padding: 16px;
  border-radius: 5px;
  box-shadow: 5px 5px 5px rgb(0, 0, 0, 0.32);
}
.detail-main-container .specific-detail-main  .specific-detail label{
color: rgb(117, 117, 117);
}
@media (max-width: 900px) {
  .detail-main-container .specific-detail-main{
    grid-template-columns:  repeat(2, 1fr);
  }
}
.additional-detail{
  margin: 16px 0;
  background-color: #FEFEFE;
  padding: 16px;
  border-radius: 5px;
}
.additional-detail #desc-detail:disabled{
  opacity: 100%;
  width: 100% !important;
}
.seller-dialog{
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}
.seller-image-container{
  margin: 16px auto;
  height: 150px;
  width: 150px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 5px 5px rgb(0, 0, 0, 0.32);
  border-radius: 5px;
}
.seller-image-container img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}
.seller-dialog label{
  width: 20%;
}
.seller-dialog input{
  width: 80%;
}
.seller-dialog input:disabled{
  opacity: 100%;
}
.seller-dialog #seller-text-area{
  width: 80%;
  height: 150px;
}
.seller-dialog #seller-text-area:disabled{
  opacity: 100%;
  
}

