.Text_Top_Home{
    display: flex;
    font-size: 36px;
    font-weight: bold;
    color: #ffffff;
    padding-top: 10%;
    justify-content: center;
    width: 100%;
    letter-spacing: 2px;
}
.Text_Sub_Top_Home{
    display: flex;
    font-size: 26px;
    font-weight: 400;
    color: #ffffff;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.button-search-form{
    display: flex;
    justify-content: center;
    margin-top: 2%;
  }
.button-search-form button{
    width: 150px;
    display: flex;
    justify-content: center;
    margin: 8px;
  }
  .button-search-form #register {
    background-color: red;
    border: 1px solid red !important;
  }
  .button-search-form #login {
    background-color: green;
    border: 1px solid green !important;
  }
  .home-main-container{
    width: 100%;
    bottom: 0;
    height: 100%;
  }
